.App{
  min-height: 100vh;
  background: linear-gradient(rgb(208, 117, 117),#6f2168);
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 550;
  background-image: linear-gradient(to left, #280031, #da8cd3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.done {
  text-decoration: line-through;
} 

ul{
  position:absolute;
  left: -15px;
  top: 250px;
}

h2{
    display: flex;
    font-weight: 550;
    background-image: linear-gradient(to left, #8d3185, #791c8e);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  
}

.not-started{
  background-color: green;
}
.started{
background-color: aqua;
}
.ongoing{
background-color: blue;
}
.almost-done{
background-color: yellow;
}
.done{

}
